.top-menu{
    font-size: 12px;
    border: 0px;
}

.main-menu-item{
    border-left: 0px;
    border-right: 0px;
}

.general-customer-info {
    border: 0px;
}

.custom-well{
    border: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.top-menu-outer {
    position: relative;
}
.top-menu-fixed {
    position: fixed;
}

body{
    padding-top: 70px;

}
