.top-menu{
    font-size: 12px;
    border: 0px;
}

.main-menu-item{
    border-left: 0px;
    border-right: 0px;
}

.main-nav-item{
    border-bottom: 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 0px;
    border-color: #d3d3d3;
}

.main-nav-item-sub{
    border-bottom: 1px solid;
    border-color: #d3d3d3;
    padding-left: 40px;
}

.main-menu-item-sub{
    border-left: 0px;
    border-right: 0px;
    padding-left: 40px;
}

.general-customer-info {
    border: 0px;
}

.custom-well{
    border: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    padding-bottom: 60px;
}

.custom-well-2{

    border-left: solid;
    border-color: #6BC3E9;
}

.custom-well-3{
    border: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.active-window-top-background{
    background-color: #6BC3E9;
}

.top-menu-outer {
    position: relative;
}
.top-menu-fixed {
    position: fixed;
}

.top-menu-container{
    margin-right: 30px;
    /*margin-left: 80px;*/
}

.policy-info-button{
    background-color: #6BC3E9;
    border: 0px;
}

body {
    padding-top: 80px;
    position: relative;
    height: 100%;
}
td.customer-information-item-headline{
    font-weight: bold;
    padding-top: 5px;
}

td.customer-information-item-content{
    padding-top: 5px;
}

tr.customer-information-item{
    vertical-align: top;
}

.panel{
    border: 0;
}

.round-button {
    width: 50px;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;

    background: #6BC3E9;
}
.round-button-circle:hover {
    background:#30588e;
}
.arrow-container {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.round-button-2 {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color:#99c000;
    /*border-color:#99c000;*/
    border: 0;
    color: white;
    outline:none;
}
